.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:80px;
    background-color: #4B256E;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}